# postgres = local warehouse
# bigquery = GCS/BigQuery warehouse
WAREHOUSE_BACKEND=postgres

# Required if WAREHOUSE_BACKEND=bigquery
GCP_PROJECT_ID=

POSTGRES_USER=transit
POSTGRES_PASSWORD=transit
POSTGRES_DB=transit
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
