credentials.json 
#################################
# Python
#################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.mypy_cache/

#################################
# Virtual environments
#################################
.venv/
venv/
env/
.python-version

#################################
# OS / IDE
#################################
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

#################################
# Environment variables
#################################
.env
.user.yml
dbt/.user.yml
dbt/analytics/.user.yml

#################################
# Logs
#################################
*.log
logs/
airflow/logs/
dbt/logs/

#################################
# Airflow
#################################
airflow/logs/
airflow/config/airflow.cfg

#################################
# dbt
#################################
dbt/**/target/
dbt/**/logs/
dbt/analytics/target/
dbt/analytics/logs/

#################################
# Data (VERY IMPORTANT)
#################################
data/
*.parquet
*.csv
*.zip
*.pbf

#################################
# Docker volumes
#################################
postgres_data/

#################################
# Build artifacts
#################################
dist/
build/
*.egg-info/

#################################
# Temporary
#################################
tmp/
temp/

# Local .terraform directories
.terraform/
*.tfstate
*.tfstate.*
